
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

/* Estilos generales */
body,
html {
  font-family: "Moderustic", 'Open sans', sans-serif;
  margin: 0;
  height: 100%;  
  box-sizing: border-box; 
  background-color: var(--color-fondo); 
  color: var(--color-texto); 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Asegura que las columnas se ajusten en pantallas pequeñas */
  margin-right: -20px; /* Ajusta el margen negativo para compensar el espacio extra del padding */
  margin-left: -20px; /* Ajusta el margen negativo para compensar el espacio extra del padding */
  box-sizing: border-box;
}

/* Clases de columnas */
.col-1, .col-2, .col-3, .col-6, .col-9, .col-10 {
  padding: 20px; /* padding a cada lado, resultando en un total de 40px de espacio interior */
  box-sizing: border-box;
  flex-shrink: 0;
}

.col-1 { width: 8.33%; }
.col-2 { 
  width: 16.67%; 
  overflow: hidden;
}
.col-3 { width: 25%; }
.col-6 { width: 50%; }
.col-9 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.col-10 { width: 83.33%; }

.no-margin-auto {
  margin-left: 0;
  margin-right: 0;
}

/* Clearfix para el sistema de float */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/* Estilos para los párrafos */
p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;  /* Espacio después de los párrafos */
}

.texto li {
  margin-bottom: 10px;
  line-height: 1.6;
}


/* Estilos para los encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 2em;  /* 32px si el tamaño base es 16px */
}

h2 {
  font-size: 1.75em;  /* 28px */
}

h3 {
  font-size: 1.5em;  /* 24px */
}

h4 {
  font-size: 1.25em;  /* 20px */
}

h5 {
  font-size: 1em;  /* 16px */
}

h6 {
  font-size: 0.875em;  /* 14px */
}


/* #region ENLACES GENERALES */
.enlace {
	text-decoration: none;
	color: var(--color-texto);
	font-weight: normal;
  position: relative;
}

.enlace::before {
  content: '';
  background-color: var(--secondary);
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  z-index: 1;
  transition: all .3s ease-in-out;
}

.enlace:hover::before {
  bottom: 0;
  height: 100%;
}

/* #endregion */

/* #region BOTONES */
.boton {
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  color: var(--blanco);
  background-color: var(--primary);
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.boton:hover {
  border-color: var(--primary);
  opacity: 0.8;
}

a.boton {
  text-decoration: none;
}

/* #endregion BOTONES */

/* #region MENÚ GENERAL */
.sidebar {
  display: flex;  /* Activa Flexbox */
  flex-direction: column;  /* Organiza los elementos en una columna */
  justify-content: space-between;  /* Espacia los elementos al inicio y al final */
  height: 100%;  /* Asegura que el sidebar ocupe toda la altura disponible */
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  transition: 0.5s ease;
  transform: translateX(100%);  /* Oculta el sidebar moviéndolo hacia la derecha */
  padding-top: 60px;
}

.cita {
  margin-top: auto;  /* Esto empuja la cita hacia abajo, al final del espacio disponible */
  color: var(--blanco);
  padding: 10px 15px;
}

.cita p {
  font-size: 14px;

}

.sidebar .logos a {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; 
}

.sidebar .logos img {
  height: 30px; 
  width: auto; 
}

.menu-item {
  display: flex;  /* Flexbox para alinear los elementos en una línea */
  align-items: center;  /* Centra verticalmente si hay diferencia en tamaño de fuente o altura */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.25em;
  color: var(--blanco);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--blanco);
  opacity: 0.7;
}

.submenu {
  display: none; /* Oculta el submenú por defecto */
  flex-direction: column;
  padding-left: 20px; /* Añade un poco de espacio a la izquierda para diferenciar del menú principal */
  line-height: 1.25;
  font-size: 0.75em;
  margin-top: 0;
  padding-top: 0;
}

.submenu a {
  padding: 5px 15px;
  margin-top: auto;
}

#submenu-toggle {
  font-size: 0.9em;
  padding-left: 1px;
}

.menu-bar {
  font-family: "Open Sans";
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 1001;
  font-size: 30px;
  color: var(--primary); /* Color del menú hamburguesa */
  background-color: transparent; /* Fondo transparente por defecto */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-bar:hover {
  opacity: 0.6;
}

/* #endregion MENÚ GENERAL */

/* #region MENÚ CONTENIDOS */
#menu-contenidos {
  position: fixed;
  top: 20px;
  width: 15%; 
}

#menu-contenidos h5 {
  color: var(--gris);
  margin-left: 0; 
  padding-left: 0;
  border-bottom: 1px solid var(--grisclaro);
}

#menu-contenidos ul {
  list-style-type: none;
  padding-left: 0; 
  margin-left: 0; 
  width: 100%; 
}

#menu-contenidos ul li {
  margin-bottom: 10px;
  padding-left: 0; 
  max-width: 100%; 
  overflow: hidden;
}

#menu-contenidos ul li a {
  text-decoration: none;
  color: var(--gris);
  word-wrap: break-word;
  white-space: normal;
  display: block;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  word-break: break-word;
  width: 100%;
}

#menu-contenidos ul li a:hover {
  opacity: 0.7; /* Aplica el efecto hover solo a la línea individual */
}

#menu-contenidos ul li.menu-h1 a {
  font-size: 1em;
}

#menu-contenidos ul li.menu-h2 a {
  font-size: 0.90em;
}

#menu-contenidos ul li.menu-h3 a {
  font-size: 0.80em;
}


/* #endregion MENÚ CONTENIDOS */

/* #region PORTADA*/

#portada .col-9 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centrado-vertical {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

#creditos {
  margin-top: auto;
}
#creditos p {
  margin-top: 2px;    /* Espacio superior entre los párrafos */
  margin-bottom: 2px; /* Espacio inferior entre los párrafos */
}

.centrado-vertical .background-image {
  position: absolute; 
  right: 0; 
  top: 40px; 
  bottom: 40px; 
  width: 500px;
  height: auto;
  background: url('/assets/images/dibujoportada2.png') no-repeat center center;
  background-size: cover; 
  opacity: 0.8;
  border-radius: 20px;
  z-index: -1;
}

.centrado-vertical {
  position: relative; 
}

@media screen and (max-width: 1024px) {
  .centrado-vertical .background-image {
    width: 100%;
  }
  .centrado-vertical {
    padding: 20px;
  }
  
}

/* #endregion PORTADA */

/* #region BOTONES VERSIONES*/
.boton-version {
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#toggleEdition {
  font-family: "Moderustic", 'Open sans', sans-serif;
}

/* #endregion */

/* #region NAVEGACIÓN FOLIOS */
.navegacion-paginas {
  position: fixed;
  bottom: 40px;
  display: block;
}

.navegacion-paginas div {
  margin-bottom: 10px; /* Añade espacio entre los enlaces */
}

.navegacion-paginas div:last-child {
  margin-bottom: 0; /* Elimina el margen en el último elemento para un ajuste limpio */
}

.flecha {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-texto);
}

.flecha:hover {
  color: var(--gris);
}

/* #endregion NAVEGACIÓN FOLIOS */

/* Secciones */
.imagenestexto {
  text-align: center;
}

#edicionesbaez {
  display: inline-flex;
}

#edicionesbaez img {
  width: 70%;
}

.img40 img {
  width: 30%;
}

.img100 img {
  width: 100%;
}

figcaption {
  font-size: 0.85em;
}

/* #region BIBLIOGRAFÍA */
.bibliography p {
  text-indent: -20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* #endregion BIBLIOGRAFÍA */

/* #region IMÁGENES FACSÍMIL */
.imagen-fixed {
  position: fixed;
  bottom: 130px; /* Ajusta esta distancia para que la imagen quede encima de los botones */
  left: 40px; /* Alineación con el margen izquierdo, similar a los botones */
}

.imagen-fixed img {
  width: 200px; /* Ajusta este tamaño según el margen*/
  height: auto; /* Mantiene la proporción de la imagen */
  cursor: pointer; /* Cambia el cursor para indicar que la imagen se puede clickear */
}

.imagen-modal {
  display: none; /* Se cambiará a 'flex' con JavaScript */
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Permite scrolling si es necesario */
}

.imagen-modal-content {
  max-width: 100%; /* Controla el tamaño máximo de la imagen */
  max-height: 90vh; /* Evita que la imagen sea demasiado alta */
}

#caption {
  color: var(--blanco);
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

.cerrar-imagen {
  position: absolute;
  top: 15px;
  left: 35px;
  color: var(--grisclaro);
  font-size: 40px;
  cursor: pointer;
}

.cerrar-imagen:hover {
  color: var(--blanco);
}

/* #endregion */


.logo-tei {
  position: fixed; 
  right: 20px; 
  bottom: 20px; 
  z-index: 998; 
}

.logo-tei img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%; 
}


/* #region GRID IMÁGENES */
.centered-container {
  text-align: center; /* Asegura que el texto dentro del div también esté centrado */
}

.grid-container {
  width: 100%; /* Un poco de espacio en los lados */
  margin: 20px auto; /* Centrado horizontal */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Automáticamente ajusta las columnas */
  gap: 10px;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.grid-item img:hover {
  transform: scale(1.1);
}

.title-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(90, 121, 185, 0.7);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* asegura que el div no interfiera con el clic en la imagen */
}

.grid-item:hover .title-overlay {
  opacity: 1;
}

/* #endregion GRID */


/* Estilos para ajustar el contenido de la edición a pantallas más pequeñas */
@media screen and (max-width: 1024px) {
  .row {
    display: block; /* Cambia el display para desactivar flexbox */
    margin-right: 0;
    margin-left: 0;
  }
  .col-1, .col-2, .col-3, .col-6, .col-9, .col-10 {
    width: 100%; /* Hace que todas las columnas ocupen el ancho completo */
  }
  .col-2{
    padding-bottom: 0;
  }
  #menu-contenidos {
    position: static;
    width: 100%;
  }
  .logo-tei {
    display: none;
  }
  .boton-version {
    position: static; /* Desactiva el posicionamiento fijo */
    top: auto; /* Remueve el ajuste de posición 'top' */
    left: auto; /* Remueve el ajuste de posición 'left' */
    transform: none; /* Anula cualquier transformación */
    display: flex; /* Mantiene el layout flex */
    flex-direction: row; /* Cambia la dirección de los botones a horizontal */
    justify-content: left; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Añade espacio arriba de los botones para separarlos del título */
  }
  .imagen-fixed {
    position: static; /* Desactiva el posicionamiento fijo */
    top: auto; /* Remueve el ajuste de posición 'top' */
    left: auto; /* Remueve el ajuste de posición 'left' */
    transform: none; /* Anula cualquier transformación */
    display: flex; /* Mantiene el layout flex */
    flex-direction: row; /* Cambia la dirección de los botones a horizontal */
    justify-content: left; /* Centra los botones horizontalmente */
    gap: 10px; /* Mantiene un espacio entre los botones */
    margin-top: 20px; /* Añade espacio arriba de los botones para separarlos del título */  
  }
  .navegacion-paginas {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
  } 
  #anterior {
    text-align: left;
  }
  #siguiente {
    text-align: right;
  }
}
@media (max-width: 500px) {

}


