tei-text {
  display: block;
}

tei-div {
  display: block;

}

tei-p, tei-item {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px; /* Espacio después de los párrafos */
  display: block;
  text-align: justify;
}


tei-head {
  display: block;
  text-align: justify;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

tei-head[type="subsección"] {
  display: block;
  font-weight: 700;
  font-size: 1.75em;
  margin-top: 20px;
  margin-bottom: 10px;
}

tei-standoff {
  display: none;
}

tei-back {
  display: none;
}

tei-item {
  position: relative;
  margin-left: 20px; 
  padding-left: 10px; 
}

tei-item::before {
  content: "•"; 
  position: absolute; 
  left: 0; 
}

/*NOTAS*/
.modal {
  display: none;
  position: fixed; /* No 'absolute', para que se posicione relativo al viewport */
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 40px;
  border-radius: 10px; /* Esquinas redondeadas */
  width: 50%; /* Ancho del modal */
  max-width: 600px; /* Máximo ancho */
  max-height: 80vh; /* Máximo alto, con scroll interno si el contenido excede esto */
  overflow-y: auto; /* Permite el desplazamiento interno para contenido largo */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra para efecto visual */
  position: absolute; /* Posicionamiento absoluto dentro de .modal */
  top: 50%; /* Posiciona a la mitad de .modal en términos de altura */
  left: 50%; /* Posiciona a la mitad de .modal en términos de ancho */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar exactamente */
  text-align: justify;
}

/* Media query para pantallas menores a 1100px */
@media (max-width: 1100px) {
  .modal-content {
    width: 85%; /* Aumenta el ancho al 85% */
  }
}

.close {
  color: var(--gris);
  font-family: 'Open Sans';
  float: right;
  font-size: 40px;
  font-weight: 900;
  margin-top: -15px;
}

.close:hover,
.close:focus {
  color: var(--gris);
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

/* Número de nota */
.notaTEI  {
  display: inline-block; /* Hace que el enlace se comporte como un bloque para poder aplicar padding */
  line-height: 15px; /* Asegura que el texto esté centrado verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Crea el efecto de círculo */
  border: 0px solid #000; /* Establece el color y grosor del borde */
  text-decoration: none; /* Elimina el subrayado del enlace */
  font-weight: normal; /* Opcional: hace el número más notorio */
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  vertical-align: super;
}

.notaTEI:hover {
  text-decoration: none;
  opacity: 0.6;
}

.t {
  color: #fefefe;
  background-color: #9B0072;
}

.v {
  color: #fefefe;
  background-color: #005A0C;
}

.e {
  color: #fefefe;
  background-color: #B05500;
}

.h {
  color: #fefefe;
  background-color: #0078b0;
}

/* Etiquetas de notas */
.note-type {
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 5px 10px; /* Relleno: 5px arriba/abajo y 10px izquierda/derecha */
  display: inline-block; /* Asegura que el padding y border-radius se apliquen */
  margin: 5px 0; /* Un poco de margen arriba y abajo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
}

.note-type[data-type="termino"] {
  background-color: #9B0072;
}


.note-type[data-type="verbo"] {
  background-color: #005A0C;
}

.note-type[data-type="expresion"] {
  background-color: #B05500;
}


tei-term[rend="bold"] {
  font-weight: bold;
  font-size: 1.25em;
  display: block;

}


/* CHOICE */
/* Configuración inicial para que corr y reg (elementos modernizados) se muestren por defecto */
tei-corr, tei-reg {
  display: inline;
}

tei-sic, tei-orig {
  display: none; /* sic y orig (elementos diplomáticos) ocultos por defecto */
}

/* Cuando la clase "diplomatic" está presente, se invierte la lógica */
.diplomatic tei-corr, .diplomatic tei-reg {
  display: none;
}

.diplomatic tei-sic, .diplomatic tei-orig {
  display: inline; /* Muestra sic y orig, oculta corr y reg */
}

.diplomatic tei-ptr {
  display: none;
}









/* tei-pb */

tei-pb {
  border-top: 1px solid var(--gris);
  display: block;
  width: 100%;
  text-align: right;
  color: var(--gris);
  margin: 4em 0 0 0;
  font-size: 12pt;
}

tei-pb:before {
content: "[Folio " attr(n) "]";
line-height: 3; 
} 

tei-hi[rend="italic bold"] {
  font-style: italic;
  font-weight: bold;
}

tei-hi[rend="bold"] {
  font-weight: bold;
}

tei-hi[rend="italic"] {
  font-style: italic;
}

tei-lb {
  display: none;
}


tei-del[rend="line-through"] {
  text-decoration: line-through;
}


tei-gap:before {
  content: "[...]";
  } 

tei-note[place="inline margin left"] {
    font-size: 0.8em;
  }


  
/* IMÁGENES */

tei-figure tei-head {
  font-size: 1rem;
}

tei-figdesc {
  font-style: italic;
  font-size: 12px;
  width: 70%;
  align-self: center;
}

/* IMÁGENES */

tei-figure {
  text-align: center;
  display: inline-flex;
  margin: 10px; 
  justify-content: center; 

}

tei-figure img {
  width: 100%;
}

/* #region FIGURAS */

tei-figure[id="fig_72r_1"] img,
tei-figure[id="fig_72r_2"] img {
  width: 80%;
}

tei-figure[id="fig_72r_3"] img {
  width: 30%;
}

tei-figure[id="fig_72r_4"] img {
  width: 40%;
}

tei-figure[id="fig_73r_1"] img {
  width: 60%;
  display: flex;
  margin-left: 8%;
}

tei-figure#group_73r {
  display: flex; 
  align-items: flex-end; 
}
tei-figure[id="fig_73r_2"] img {
  width: 70%;
}
tei-figure[id="fig_73r_3"] img {
  width: 50%;
}

tei-figure[id="fig_74r_3"] img {
  width: 50%;
  margin-bottom: 20px;
}
tei-figure[id="fig_74r_4"] img {
  width: 100%;
}

tei-figure[id="fig_75v_1"] img {
  width: 50%;
}

tei-figure#group_76r {
  display: flex; 
  align-items: flex-end; 
}

tei-figure[id="fig_76r_4"] img {
  width: 50%;
}

tei-figure[id="fig_77r_1"] img {
  width: 50%;
}

tei-figure[id="fig_78r_1"] img {
  width: 80%;
}

tei-figure[id="fig_78r_2"] img {
  width: 80%;
}

tei-figure[id="fig_78v_1"] img {
  width: 40%;
}

tei-figure[id="fig_78v_2"] img {
  width: 40%;
}

tei-figure[id="fig_79r_1"] img {
  width: 40%;
}

tei-figure[id="fig_79r_2"] {
  display: inline-flex;
  flex-direction: column;
}

tei-figure[id="fig_79r_2"] img {
  width: 50%;
}

tei-figure[id="fig_80r_3"] {
  display: block; 
}

tei-figure[id="fig_80r_3"] img {
  width: 56%;
}
tei-figure#group_81r {
  display: block; 
}
tei-figure[id="fig_81r_2"] img {
  width: 100%;
}

tei-figure[id="fig_81v_1"] img {
  width: 60%;
}

tei-figure[id="fig_87v_1"] img {
  width: 60%;
}

tei-figure#group_88r {
  display: flex; 
  align-items: flex-end; 
}

tei-figure[id="fig_88r_1"] img {
  width: 80%;
}

tei-figure#group_88v {
  display: flex; 
  align-items: flex-end; 
}

tei-figure[id="fig_88v_1"] img {
  width: 60%;
}

tei-figure[id="fig_88v_3"] img {
  width: 60%;
}




/* #endregion FIGURAS */




@media (max-width: 768px) {
  tei-head {
    text-align: left;
  }

}