/* variables.css */
:root {
    --color-fondo: #f4f4f4;
    --color-sidebar: #333;
    --color-texto: #333;
    --color-boton: #333;
    --gris: #818181;
    --grisclaro: #c6c6c6;
    --blanco: #f1f1f1;

    --text: #060607;
    --background: #f9fafb;
    --primary: #5a79b9;
    --secondary: #97afe1;
    --accent: #638de4;
    
  }
  